* {
    font-family: "Montserrat Alternates", sans-serif;

    text-align: center;

    color: #93bf9e;
}

body {
    background-image: url("../images/reynardo-etenia-wongso-kqXglp4flQg-unsplash.jpg");
    background-size: 2000px;
}

.container-main {
    /*min300px max600px*/
    max-width: clamp(18.75rem, 15.726rem + 24.194vw, 37.5rem);
    margin: 0 auto;
    padding: 20px;
}

.container img {
    /*min100px max250px*/
    max-height: clamp(6.25rem, 4.738rem + 12.097vw, 15.625rem);
}

h1,
button,
h2,
.hidden,
.creator__link-container p,
label,
#noTasksMessage {
    color: white;
}

h1 {

    font-weight: bold;
    font-style: normal;
    font-size: clamp(1.25rem, 0.536rem + 1.905vw, 2.25rem);

    padding-top: 5%;
    padding-right: 1%;

    text-wrap: nowrap;
}

#taskInput {
    border: 5px solid #93bf9e;
    border-radius: 50px;
    width: 220px;
    height: 50px;
}

input::-webkit-input-placeholder {
    color: #93bf9e;
}


#noTasksMessage,
label {
    font-weight: bold;
}

p {
    font-weight: 400;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: #93bf9e;
    border: 1px solid #93bf9e;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin: 4%;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: 1s;
    user-select: none;
    -webkit-user-select: none;
    /*width 100px-170px*/
    width: 220px;
    height: 50px;
}

.hidden {
    display: none;
}

#addTaskBtn,
#clearListBtn {
    padding: 5px 10px;
    cursor: pointer;
}

#creator {
    color: #93bf9e;
    text-decoration: none;
    font-weight: bold;
}

.creator__link-container {
    font-size: clamp(0.5rem, 0.232rem + 0.714vw, 0.875rem);
}